body{
  background-color: black;
}

.Title  {
  position: fixed;
  top: 0%;
  width: 100%;
  /* background: bal linear-gradient(328deg, #faf9f9 #00070c); */
  background-color: black;
  left: 0%;
  z-index: 1000;
  padding-left: 5px;
  border-bottom:white solid 4px;
}
h1{
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: white;
  padding-left: 15px;
}
h2{
  font-size: 40px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
  padding-left: 15px;
}

.buttonBar {
  position: fixed;
  top: 20.34%;
  width: 100%;
  left: 0%;
  background: black;
  z-index: 100;
  padding-left: 5px;
  border-bottom: white solid 4px;
  
}

.list {
  margin-top: 290px;
  margin-left: -0.38%;
}

 ul {
  background-color: black;
  box-shadow: 2px 2px 5px black; /* Sets a shadow with x-offset, y-offset, blur-radius, and color */
  padding: 23px;
  padding-left: 28px;
  border-radius: 9px; /* Optional: Adds rounded corners to the list */
  margin-left: 0%;
  border: white solid 3px;
}

li{
  font-size: 30px;
  padding: 3px;
 
  
  list-style:none
}


.delete {
  margin-left: 94.3%;
  margin-top: -175px; /* Consider using relative units or flexbox for better layout */
  position: absolute;
  width: 40px; /* Adjust width based on your PNG image size */
  height: 30px; /* Adjust height based on your PNG image size */
  background: transparent; /* Set background to transparent */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer */
  outline: none; /* Remove outline */
  padding: 0; /* Remove default padding */
}

.delete img {
  width: 100%; /* Make the image scale to the button size */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevent bottom space due to inline element */
}




.hi{
  margin-left: 80%;
  background-color: white;
  color: black;
  font-size: 40px;
  width: 250px;
  
  height: 43px;
  margin-top: -72px;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-radius: 20px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hi:hover{
  background-color: white;
}
.info{
  color:white;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.data{
  color: white;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.errorMsg{

  color: red;
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
}


.modalButton{
  
  margin-left: 60%;
  display: flex;
  margin-top: 15px;
  color: #121212;

}


.Steps{
  margin-top: -20px;
 

}

.content{
  margin-top: 25px;
  font-size: 30px;
  color:black;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 3px;
}   